

body
{
    font: normal .80em 'trebuchet ms' , arial, sans-serif;
    background:  #FFF;
    background-color: transparent;
}

p
{
    padding: 0 0 30px 0;
    line-height: 1.7em;
    text-align: justify;
    color: #000;
}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #FFE773;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}


a, a:hover
  {text-decoration: underline;
  color:#FFFF00;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}


#main, #logo, #menubar, 
#site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: transparent;
  height: 202px;}

#logo
{ width: 898px;
  position: relative;
  height: 148px;
    background: #FFE773;

}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 50px;}

#logo h1, #logo h2
{
    font: normal 300% 'century gothic' , arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0px;
}




#logo_text h2
{ font-size: 200%;
  padding: 4px 0 0 0;
}
  
#logo_text h1, #logo_text h2
{
    color:#00F;
}

#menubar
{ width: 898px;
  height: 52px;
  padding: 0;
  background: #02a7f9;
} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 125% arial, sans-serif;
  display: block; 
  float: left; 
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFFF00;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #00F;
  background: #FFFF00;}

#site_content
{ width: 854px;
  overflow: hidden;
  margin: 0 auto auto auto;
  padding: 0 24px 20px 20px;
  background: #5693d7;
  font: normal 120% arial, sans-serif;

} 

.thumb
{
border:2px; width:120px; height:100px;}

.label_text1
{ font-size: 110%;
  color:yellow;
}


.sidebar
{ float: right;
  width: 210px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 198px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; 

  }
 
 .sidebar li a
 {
       color: #FFFF00;
}
.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{
    color: #FFFF00;
    text-decoration: none;
} 

#content
{ text-align: left;
  float: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
  color: #FFFF00;}

#footer
{ width: 898px;
  font: normal 90% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;}
#address
{
   text-align:center;}

     