/*global settings*/
p{
text-align:justify;

}
/*Size and position of division*/
p::first-letter{
    color: #3C0FF0;
    font-size:30px;
}

body{

    margin:auto;
    width: 60%;
    height: 900px;
    
    font-family: 'Butterfly Kids', cursive;
    background-image:url(dadpic.jpg);
    background-size:contain;
    font-size:23px;
    
    

}
main{
    background-image:url(glove2.jpg);
    background-size: contain;
    
    	padding: 40px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
}

h1{
    font-size:60px;
    font-weight:800;
    color:#3C0FF0;
    text-shadow: 2px 10px 5px yellow;
    
}


header > h1 {
    text-align: center;
}

footer h4{
    text-align:center;
}




p:last-child{
    background: #0FF083;
    text-align:right; 
    color:azure;
}
p:last-child>a{
    color: azure;
    text-decoration:none;
}
p:last-child>a:hover{
    background-color: #F00F0F;
}
#content{
    float:inherit;
    padding:20px;
    
}

#content h2{
    color:#3C0FF0;
}

/*Coloring buttons*/
#v1 {
    background-color: #F00F0F;
    border-radius:30px;
}
#v2 {
    background-color: #3C0FF0;
    border-radius:30px;
}
#v3 {
    background-color: #0FF083;
    border-radius:30px;
}
#v4 {
    background-color: #F0E80F;
    border-radius:30px;
}

#v1:hover {
    background-color: #0FF083;
}

#v2:hover {
    background-color: #F0E80F;
}
#v3:hover {
    background-color: #F00F0F;
}
#v4:hover {
    background-color: #3C0FF0;
}

#h1 {
    background-color: #F00F0F;
    border-radius:30px;
}

#h2 {
    background-color: #3C0FF0;
    border-radius:30px;
}
#h3 {
    background-color: #0FF083;
    border-radius:30px;
}
#h4 {
    background-color: #F0E80F;
    border-radius:30px;
}

#h1:hover {
    background-color: #0FF083;
}

#h2:hover {
    background-color: #F0E80F;
}
#h3:hover {
    background-color: #F00F0F;
}
#h4:hover {
    background-color: #3C0FF0;
}


/*navigation bar*/
header{
    
    
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/*vertical navigation sidebar*/
#sidebar{
    float:left;
     padding: 20px;
    width: 110px;
}

#vertnavbav{
    color:#3C0FF0;
    
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

#sidebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}














 
    
