/*Lauiran Staicu 1696177  lab2*/

body {
    margin: 0;
    padding: 0;
}

section {
    width: 775px;
    margin-left: 100px;
    font-family: lucida sans unicode, helvetica, sans-serif;
    background-color: #1696EE;
    color: navy;
    font-size: 11pt;
    overflow: hidden;
    /* http://stackoverflow.com/questions/20180081/css-background-color-with-floating-elements */
}

header {
    width: 765px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2em;
    background-image: url(../images/keys.jpg);
    background-repeat: repeat-x;
    background-color: #fff;
    border-style: solid;
    border-width: thick;
    border-color: navy;
}

header>p {
    margin-top: 0;
    text-align: center;
}

aside {
    border-style: inset;
    border-width: thick;
    border-color: red;
    padding: .5em;
    padding-left: 1em;
    font-weight: bold;
    color: #fff;
    background: #000;
    float: left;
    overflow: hidden;
    background-image: url(../images/curtains.jpg);
    background-repeat: no-repeat;
}

aside>h3 {
    width: 250px;
    text-align: center;
    color: #FFF;
    background-color: navy;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 1em;
    padding-right: 1em;
}

h3+p {
    text-align: center;
}

#salebox {
    position: absolute;
    left: 105px;
    top: 2px;
    height: 100px;
    width: 140px;
    overflow: auto;
    z-index: 99999;
    /*set the sales box to show on top of any other content in the header*/
}

#salebox>p {
    color: orange;
    font-size: 14pt;
    font-weight: bold;
    margin: 5px;
}

article {
    width: 420px;
    float: right;
    margin-bottom: 80px;
}

article>h2 {
    text-align: center;
    color: white;
    background: navy;
    font-family: arial,sans-serif;
    height: 60px;
    padding: .3em;
    margin-top: 0;
}

article>h3 {
    color: white;
    text-align: center;
    background: red;
    padding: .5em;
    margin: 0;
}

article>p {
    text-align: justify;
    padding-right: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    color: black;
    background: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    word-spacing: .2em;
    border-style: inset;
    border-width: thin;
    border-color: navy;
    width: 100%;
    margin-left: -100px;
    margin-top: .5em;
    padding: .5em;
    padding-left: 100px;
}