
 .total
{
    background-color:red;
}
td.cel1:hover
{
    border: thick solid #00FFFF;
    background-color: Purple;
}




#title:hover
{
    background-color:Yellow;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 5px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 5px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 2em;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}