
.nav, .navbar-nav {
   font-size:15px;
   font-weight:bold;
}
header.carousel {
 height: 80%;
}
footer .row p{
	font-size:1.2em;
}
footer #footer_left {
	float:left;
}
footer #footer_right {
	float:right;
}
footer #icons, .copyright {
	text-align:center;
}

.thumbnail img {
    border-radius: 50%;
}

#video_1, #video_2, #video_3 {
	float:left;
	margin-left:25px;
}

#logo img{
	border-radius: 10px;
}

.card img{
	float: left;
}

.col-md-8 iframe{
	width:100%;
	height:400px;
	border:0;
	margin:0; 

}

.contactform table{
	width:450px;
}

.contactform table tr td{
	vertical-align:top;
}