* {
	margin: 0;
	padding: 0;
}
body {
	background: #daf4f0;
	font-family: Verdana, sans-serif;
}
#box {
	width: 100px;
	overflow: hidden;
	height: 200px;  
	background: #ffa;
	color: blue;
	border: 5px solid green;
	padding: 10px;
	margin: 20px;
}