body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    color: #333;
    max-width: 720px;
    min-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.container {
    width: 210px;
    height: 140px;
    position: relative;
    margin: 0 auto 50px;
    border: 2px solid #999;
    perspective: 200px;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ( -288px);
    /*-288*/
    transform-style: preserve-3d;
    transition: transform .5s;
}

#carousel div {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: : 116px;
    font-size: 24px;
    font-weight: normal;
    color: black;
    text-align: center;
}

#carousel div:nth-child(1) {
    background: hsla(0, 75%, 50%, 0.9);
}

#carousel div:nth-child(2) {
    background: hsla(72, 75%, 50%, 0.9);
}

#carousel div:nth-child(3) {
    background: hsla(144, 75%, 50%, 0.9);
}

#carousel div:nth-child(4) {
    background: hsla(216, 75%, 50%, 0.9);
}

#carousel div:nth-child(5) {
    background: hsla(288, 75%, 50%, 0.9);
}

#carousel div:nth-child(1) {
    transform: rotateY(0deg) translateZ( 288px);
}

#carousel div:nth-child(2) {
    transform: rotateY(72deg) translateZ( 288px);
}

#carousel div:nth-child(3) {
    transform: rotateY(144deg) translateZ( 288px);
}

#carousel div:nth-child(4) {
    transform: rotateY(216deg) translateZ( 288px);
}

#carousel div:nth-child(5) {
    transform: rotateY(288deg) translateZ( 288px);
}

#options {
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
}

nav {
    width: 250px;
    margin: 0 auto;
}

button {
    width: 70px;
    font-size: 12px;
}