@media print {
    body {
        margin: 3em;
    }
    body,
    header,
    aside,
    footer,
    p,
    h2,
    h3 {
        font-size: 12pt;
        font-family: "times new roman",sans-serif;
        
    }
    #salebox {
        display: none;
    }
    img {
        display: none;
    }
}