footer {
	background-color: #ccc;
	}
	
@media only screen and (min-width: 480px) 
{
footer {
	background-color: blue;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
footer {
	background-color: green;
	}
}

@media only screen and (orientation: portrait) 
{
footer {
	background-color: yellow;
	}
}

@media only print 
{
footer {
	font-size: 36pt;
	}
}