@font-face {
    
    font-family:myfont;
    src: url(../kg_inimitable_original/KGInimitableOriginal.ttf);}


/*style for body*/
header{
    
    position:fixed;
    background-image: url(../images/img1.jpg);
    background-size:contain;
    background-repeat: repeat;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
    
    /*background-image: url(../images/construction.gif);
    background-repeat:no-repeat;
	background-position:top right;*/ 
}


img[src*="const"]{
background-color: #00F;
    padding: .5%;
}


body {
    background: linear-gradient(to bottom, rgba(0,0,100,0), rgba(0,0,100,1));
}

h1{
    text-align:right;
    font-family: 'Coiny', cursive;
    font-style: italic;
    font-size:3em;
    text-shadow:10px 5px 10px #1df;
    float:right;
    color:azure;
}

/*style ul lsit*/

nav{
    position:fixed;
}

nav ul {
width: 900px
}


/* Style for nav li element */

nav li {
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    list-style-type: none;
}


/* Style for nav anchor elements */

nav li a {
    color:transparent;
    text-decoration: none;
}


/* Style specifies clear, margin, background color, padding, and border for the main element */

main {
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: .5%;
    border-radius: 1em;
    padding-top:220px
}



/* Style for article element */

article {
    margin: 2%;
    padding: 2%;
    border-radius: 1em;
    font-family:Didot,Arial,Calibri,Garamond,Georgia,Helvetica,Times New Roman,Trebuchet MS;
    font-family: myfont;
    font-size:25px;
    font-stretch: extra-expanded;
    color:orange;
    text-shadow: 2px 5px 5px navy;
    background: url(../images/img10.jpg) top left no-repeat;

}
a{
     color:inherit;
    text-decoration: none;
}

article>h2{
    
    font-style:italic;
        text-shadow: 2px 5px 5px navy;

}

article:first-child::first-letter{
    color:red;
    font-size: 100px;
}

a:link, a:visited ,a:hover{ 
    text-decoration:none;

}

/* Style specifies margin for the nav element */




/* Style specifies display and padding for the navigation list items */

nav li {
    display: inline;
    background-color: transparent;
}


/* Style specifies color, background color, padding, border, margin, and removes the underline for list item links */

nav li a {
    text-decoration: none;
    color: #000000;
    background-color:transparent;
    padding: 1% 2% 1% 2%;
    color: aqua;
}


/* Style for table, th, and td elements */

table,
th,
td {
    padding: 0.2em;
}


/* Style for table element */

table {
    margin-left: auto;
    margin-right: auto;
}


/* Style for table, th, and td elements */

table,
th,
td {
    border-collapse: collapse;
    border:transparent;
    padding: 1em;
}


/* style header*/

header {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Just Another Hand', cursive;
    text-shadow: 2px 5px 5px #42eef4;
    height: 200px;
}

footer {
    text-align: center;
    padding-bottom: 50px
}